HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# intellij
.idea/
.idea_modules/
*.iml

# eclipse
.settings/
.classpath
.project

# build
.gradle
build/
target/
out/

# os
.DS_Store

src/main/resources/static/dist/
src/main/resources/static/bower_components/
src/main/resources/static/.tmp
src/main/resources/static/node_modules/
/bin/

src/main/resources/aws.yml
