<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sshj.sshj.mapper.ClubMapper">
    <insert id="insertClubNotice" parameterType="sshj.sshj.dto.ClubNoticeDto">
        <![CDATA[
        INSERT INTO tb_club_notice(
            club_id,
            title,
            content,
            created_time
            )
        VALUES(
        #{clubId},
        #{title},
        #{content},
        now()
        )
        ]]>
    </insert>

    <select id="selectClubNotice" parameterType="int" resultType="sshj.sshj.dto.ClubNoticeDto">
        <![CDATA[
			SELECT
				notice_id as noticeId,
				club_id as clubId,
				title as title,
				content as content,
				created_time as createdTime
			FROM
				tb_club_notice
			WHERE
			    notice_id=#{noticeId}
		]]>
    </select>

    <select id="selectClubNoticeList" parameterType="int" resultType="sshj.sshj.dto.ClubNoticeDto">
        <![CDATA[
			SELECT
				notice_id as noticeId,
				club_id as clubId,
				title as title,
				content as content,
				created_time as createdTime
			FROM
				tb_club_notice
			WHERE
			    club_id=#{clubId}
		]]>
    </select>

    <update id="updateClubNotice" parameterType="sshj.sshj.dto.ClubNoticeDto">
        <![CDATA[
			UPDATE tb_club_notice
			SET title=#{title},
				content=#{content},
				created_time=now()
			WHERE notice_id=#{noticeId}
		]]>
    </update>

    <delete id="deleteClubNotice" parameterType="int">
        <![CDATA[
            DELETE FROM tb_club_notice
            WHERE notice_id=#{noticeId}
        ]]>
    </delete>

    <insert id="insertClubNoticeLike" parameterType="int">
        <![CDATA[
        INSERT INTO tb_club_notice_like(
            user_id,
            notice_id)
        VALUES(
        #{userId},
        #{noticeId})
        ]]>
    </insert>

    <delete id="deleteClubNoticeLike" parameterType="int">
        <![CDATA[
            DELETE FROM tb_club_notice_like
            WHERE user_id=#{userId} AND notice_id=#{noticeId}
        ]]>
    </delete>

    <select id="selectClubNoticeCnt" parameterType="int" resultType="int">
        <![CDATA[
            SELECT COUNT(*)
            FROM tb_club_notice_like
            WHERE notice_id=#{noticeId}
        ]]>
    </select>

    <insert id="insertClubSubs" parameterType="int">
        <![CDATA[
        INSERT INTO tb_club_subscription(
            user_id,
            club_id)
        VALUES(
        #{userId},
        #{clubId})
        ]]>
    </insert>

    <select id="selectClubSubsUserList" parameterType="int" resultType="list">
        <![CDATA[
            SELECT user_id
            FROM tb_club_subscription
            WHERE club_id = #{clubId}
    ]]>
    </select>

    <delete id="deleteClubSubs" parameterType="int">
        <![CDATA[
            DELETE FROM tb_club_subscription
            WHERE user_id=#{userId} AND club_id=#{clubId}
        ]]>
    </delete>

    <insert id="insertClubDescription" parameterType="sshj.sshj.dto.ClubDescriptionDto">
        <![CDATA[
            INSERT into tb_club_description(
                club_id,
                description)
            VALUES(
                #{clubId},
                #{description})
            ]]>
    </insert>

    <select id="selectClubDescription" parameterType="int" resultType="string">
        <![CDATA[
            SELECT description
            from tb_club_description
            where club_id = #{clubId}
            ]]>
    </select>

    <update id="updateClubDescription" parameterType="sshj.sshj.dto.ClubDescriptionDto">
        <![CDATA[
            update tb_club_description
            set description = #{description}
            where club_id = #{clubId}
            ]]>
    </update>

    <delete id="deleteClubDescription" parameterType="int">
        <![CDATA[
            delete from tb_club_description
            where club_id = #{clubId}
            ]]>
    </delete>

    <select id="selectIsSubClub" parameterType="int" resultType="int">
        <![CDATA[
            SELECT count(*)
            from tb_club_subscription
            where user_id = #{userId} and club_id = #{clubId}
            ]]>
    </select>

    <select id="selectSubClubList" parameterType="int" resultType="list">
        <![CDATA[
            SELECT club_id
            from tb_club_subscription
            where user_id = #{userId}
            ]]>
    </select>
































</mapper>