<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sshj.sshj.mapper.S3FileMapper">

	<!-- 업로드 프로필 파일 정보 등록	-->
	<update id="uploadProfile">
	<![CDATA[
		/*	S3FileMapper.uploadProfile	*/
		update tb_user
		set
			profile_url = #{profileUrl}
		where
			user_id = #{userId}
	]]>
	</update>

	<!-- 업로드 컨텐츠 파일 정보 등록	-->
	<insert id="uploadContent" parameterType="sshj.sshj.dto.FileUploadDto">
	<![CDATA[
		/*	S3FileMapper.uploadContent	*/
		INSERT INTO tb_file (
			user_id, origin_file_name, file_url, mime_type, size
		) SELECT
			#{userId}, #{originFileName}, #{fileUrl}, #{mimeType}, #{size}
		WHERE NOT EXISTS
		(SELECT origin_file_name
		FROM tb_file
		WHERE origin_file_name = #{originFileName}
		)
	]]>
	</insert>

	<!-- Meeting - File 관계 생성 -->
	<insert id="createRelationFileMeeting">
		<![CDATA[
		/*	S3FileMapper.createRelationFileMeeting	*/
		insert into tb_rmf (
			file_id, meeting_id, _index
		)
		VALUES (
				( SELECT file_id
			  		FROM tb_file
			  		WHERE origin_file_name = #{originFileName}),
			  	#{meetingId},
			  	#{index}
			  )
		ON DUPLICATE KEY
		update
                _index = #{index}

	]]>
	</insert>
	
	<!-- 모임 파일 경로 조회 -->
	<select id="getMeetingFiles" resultType="java.lang.String">
	<![CDATA[
		/*	S3FileMapper.getMeetingFiles	*/
		select
			file_url
		from
			tb_file tbf left join tb_rmf tbrmf on tbf.file_id = tbrmf.file_id
		where
			tbrmf.meeting_id = #{meetingId}
		order by tbrmf._index
	]]>
	</select>

	<!--프로필 사진 가져오기 -->
	<select id="selectProfileImage" resultType="string">
		<![CDATA[
		/*	S3FileMapper.selectProfileImage	*/
		select
			profile_url
		from
			tb_user
		where
			user_id = #{userId}
	]]>
	</select>

	<!--Contents Url 가져오기 -->
<!--	<select id="selectContentsUrl" resultType="string">-->
<!--		<![CDATA[-->
<!--		/*	S3FileMapper.selectContentsUrl	*/-->
<!--		select-->
<!--			file_url-->
<!--		from-->
<!--			tb_file-->
<!--		where-->
<!--			user_id = #{clubId}-->
<!--	]]>-->
<!--	</select>-->

<!--	<delete id="deleteContent" parameterType="sshj.sshj.dto.FileUploadDto">-->
<!--		<![CDATA[-->
<!--		/*	S3FileMapper.deleteContent	*/-->
<!--		DELETE FROM tb_rmf tbrmf-->
<!--		WHERE tbrmf.file_id = ( SELECT fild_id-->
<!--			  FROM tb_file-->
<!--			  WHERE file_url = #{fileUrl})-->
<!--   		AND tbrmf.meeting_id = #{meetingId}-->
<!--   		AND EXISTS (-->
<!--      		SELECT * FROM (-->
<!--      		SELECT * FROM tb_file AS b-->
<!--      		WHERE b.user_id = #{userId} AND b.meeting_id = #{meetingId}-->
<!--      		) tmp-->
<!--      		)-->

<!--		]]>-->
<!--	</delete>-->
	
</mapper>