<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sshj.sshj.mapper.S3FileMapper">

	<!-- 업로드 파일 정보 등록	-->
	<update id="uploadProfile">
	<![CDATA[
		/*	S3FileMapper.uploadProfile	*/
		update tb_user
		set
			profile_url = #{profileUrl}
		where
			user_id = #{userId}
	]]>
	</update>

	<!-- 업로드 파일 정보 등록	-->
	<insert id="uploadContent" parameterType="sshj.sshj.dto.FileUploadDto">
	<![CDATA[
		/*	S3FileMapper.uploadContent	*/
		insert into tb_file (
			user_id, origin_file_name, file_url, mime_type, size, meeting_id
		) values (
			#{userId}, #{originFileName}, #{fileUrl}, #{mimeType}, #{size}, #{meetingId}
		)
	]]>
	</insert>
	
	<!-- 모임 파일 경로 조회 -->
	<select id="getMeetingFiles" resultType="java.lang.String">
	<![CDATA[
		/*	S3FileMapper.getMeetingFiles	*/
		select
			file_url
		from
			tb_file
		where
			meeting_id = #{meetingId}
	]]>
	</select>

	<!--프로필 사진 가져오기 -->
	<select id="selectProfileImage" resultType="string">
		<![CDATA[
		/*	S3FileMapper.selectProfileImage	*/
		select
			profile_url
		from
			tb_user
		where
			user_id = #{userId}
	]]>
	</select>

	<!--Contents Url 가져오기 -->
	<select id="selectContentsUrl" resultType="string">
		<![CDATA[
		/*	S3FileMapper.selectContentsUrl	*/
		select
			file_url
		from
			tb_file
		where
			user_id = #{clubId}
	]]>
	</select>

	<delete id="deleteContent" parameterType="sshj.sshj.dto.FileUploadDto">
		<![CDATA[
		/*	S3FileMapper.deleteContent	*/
		delete from tb_file
		where
			user_id = #{clubId} and meeting_id = #{meetingId}
		]]>
	</delete>
	
</mapper>