<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sshj.sshj.mapper.UserMapper">

    <!-- 회원가입 유저 정보 등록	-->
    <insert id="insertUser" parameterType="sshj.sshj.dto.UserDto">
        <![CDATA[
		/*	UserMapper.insertUser	*/
		insert into tb_user (
			password, email, nickname, created_time, role
		) values (
			#{password}, #{email}, #{nickname}, #{createdTime}, #{role}
		)
	]]>
    </insert>

    <!-- 회원가입 유저 검색	-->
    <select id="selectUserInfo" parameterType="string" resultType="sshj.sshj.dto.UserDto">
        <![CDATA[
		/*	UserMapper.selectUserInfo	*/
		    SELECT
		        user_id as userId,
		        password as password,
		        email as email,
		        nickname as nickname,
		        created_time as createdTime,
		        role as role
		    FROM
		        tb_user
		    WHERE
		        email = #{email}
	    ]]>
    </select>

    <select id="selectUserEmail" parameterType="string" resultType="int">
        <![CDATA[
		/*	UserMapper.selectUserEmail	*/
		select count(email)
		from tb_user
		where email = #{email}
	]]>
    </select>

    <select id="selectEmail" parameterType="long" resultType="string">
        <![CDATA[
            select email
            from tb_user
            where user_id = #{userId}
        ]]>
    </select>


    <select id="selectUserEmail" parameterType="string" resultType="sshj.sshj.dto.UserDto">
        <![CDATA[
		/*	UserMapper.selectUserEmail	*/
		select user_id as userId,
		        password as password,
		        email as email,
		        nickname as nickname,
		        created_time as createdTime,
		        role as role
		from tb_user
		where email = #{email}
	]]>
    </select>

    <select id="selectUserNicknameIsOk" parameterType="string" resultType="int">
        <![CDATA[
		/*	UserMapper.selectUserNicknameIsOk	*/
		select count(nickname)
		from tb_user
		where nickname = #{nickname}
	]]>
    </select>

    <select id="selectUserNickname" parameterType="long" resultType="string">
        <![CDATA[
		/*	UserMapper.selectUserNickname	*/
		select nickname
		from tb_user
		where user_id = #{userId}
	]]>
    </select>

    <select id="selectCode" parameterType="string" resultType="string">
        <![CDATA[
		/*	UserMapper.selectCode	*/
		select code as code
		from tb_codeemail
		where email = #{email}
	]]>
    </select>

    <select id="selectCodeInfo" parameterType="string" resultType="sshj.sshj.dto.CodeInfoModel">
        <![CDATA[
		/*	UserMapper.selectCodeInfo	*/
		select email as email, created_time as createdTime
		from tb_codeemail
		where code = #{code}
	]]>
    </select>

    <insert id="insertCodeEmail" parameterType="string">
        <![CDATA[
		/*	UserMapper.insertCodeEmail	*/
		insert into tb_codeemail (
			email, code, created_time
		) values (
			#{email}, #{code}, #{time}
		) on duplicate key update email=#{email}, code=#{code}, created_time=#{time}
	]]>
    </insert>

    <update id="updateDeviceToken" parameterType="string">
        <![CDATA[
        UPDATE tb_user
        SET device_token = #{deviceToken}
        WHERE email = #{email}

        ]]>
    </update>

    <update id="updateCodeEmail" parameterType="string">
        <![CDATA[
			UPDATE tb_codeemail
			SET code=#{code},
			    created_time=#{time}
			WHERE email=#{email}
		]]>
    </update>

    <update id="updateUserNickname" parameterType="string">
        <![CDATA[
			UPDATE tb_user
			SET nickname=#{nickname}
			WHERE email=#{email}
		]]>
    </update>

    <update id="updateUserPassword" parameterType="string">
        <![CDATA[
			UPDATE tb_user
			SET password=#{password}
			WHERE email=#{email}
		]]>
    </update>

    <select id="selectUserDeviceToken" parameterType="long" resultType="string">
        <![CDATA[
            SELECT device_token
            FROM tb_user
            WHERE user_id = #{userId}
        ]]>
    </select>

</mapper>